page-main {
	
	.toolbar-background-md{
		background-color :#3f4851;
	}
	ion-title {
		  position: absolute;
		  top: 0;
		  left: 0;
		  padding: 0 90px 1px;
		  width: 100%;
		  height: 100%;
		  text-align: center;
		}

	ion-navbar >.bar-button-default-md{
		color:#FFF!important;
	}
	ion-content > .scroll-content{
		background-color:#f4f1ec;
	}
	ion-content > .fixed-content{
		background-color:#f4f1ec;
	}

	.tab_button{
		border-radius:0px!important;
		width:100%;
		padding:0px!important;
		margin:0px!important;
		height:3rem;
		background-color:#c1b49a;
		border:none;
		box-shadow:none;
	}
	.tab_button.button-md{
		font-size:1rem;
		color:#f4f1ec;

	}
	.tab_button.button-md:hover{
		background-color:#c1b49a;
		color:#f4f1ec;
		border-bottom:2px solid #FFF;
	}
	.tab_button.active.button-md {
		border-bottom:1px solid #FFF;
	}
	.flat{
		padding:0px!important;
		margin:0px!important;
	}
}	
