page-signup {

	background:url('../assets/picture/1-17.png');
	background-size:cover;

	.logo{
		width:50%;
		margin:0px auto;
	}
	.buttons{
		position:absolute;
		bottom:0px;
		width: 90%;

		ion-col{
			width:100%;

				button{
					width:100%;
					border-radius: 5.5px;
				}

		}
	}
	ion-item{
		background:transparent!important;
	}
	ion-input{
		color:#FFF;
	}
		
}
 
page-signup > ion-content.content.content-md{
			background-color:#4E4E4E;;
			opacity :0.8;
			color:#FFF;
		}


